:root {
  --bg: #446ccf;
  --border-radius: 20px;
  --border-radius-s: 8px;
  --text-color: #ffffff;
  --space: 4px;
  --space2: calc(var(--space) * 2);
  --space3: calc(var(--space) * 3);
  --space4: calc(var(--space) * 4);
  --space8: calc(var(--space) * 8);
}

html {
  font-family: monospace;
  font-size: 14px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--space4);
  padding: var(--space8);
}

a {
  color: var(--text-color);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.intro {
  font-size: 3rem;
  font-weight: 700;
}

.infos {
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  gap: var(--space2);
}

.btns a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-s);
  color: var(--text-color);
  padding: 6px;
  text-align: center;
  text-decoration: none;
  transition: all 120ms ease;
  min-width: 2em;
}

.btns a:hover {
  background: var(--text-color);
  color: var(--bg);
}

@media only screen and (max-width: 730px) {
  main {
    align-items: center;
    flex-direction: column;
  }
}
