:root {
  --bg: #446ccf;
  --border-radius: 20px;
  --border-radius-s: 8px;
  --text-color: #ffffff;
  --space: 4px;
  --space2: calc(var(--space) * 2);
  --space3: calc(var(--space) * 3);
  --space4: calc(var(--space) * 4);
}

html {
  font-family: "Fira Mono", Consolas, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  width: 100%;
}

main {
  display: flex;
  gap: var(--space3);
}

a {
  color: var(--text-color);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.picture-bg {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  overflow: hidden;
  width: 28em;
  height: 28em;
}

.picture {
  max-width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--space4);
}

.intro {
  font-size: 3rem;
  font-weight: 700;
}

.tagline {
  line-height: 1.4rem;
  max-width: 20vw;
}

.btns {
  display: flex;
  gap: var(--space2);
}

.btns a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-s);
  color: var(--text-color);
  padding: 6px;
  text-decoration: none;
  transition: all 120ms ease;
}

.btns a:hover {
  background: var(--text-color);
  color: var(--bg);
}

@media only screen and (max-width: 730px) {
  main {
    flex-direction: column;
  }
}
