:root {
  --bg: #3d72d0;
  --border-radius: 20px;
  --border-radius-s: 8px;
  --text-color: #ffffff;
}

html {
  font-family: "Fira Mono", Consolas, Helvetica, sans-serif;
  font-size: 13px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  width: 100%;
}

main {
  display: flex;
  gap: 12px;
}

.picture-bg {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  overflow: hidden;
  width: 28em;
  height: 28em;
}

.picture {
  max-width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.intro {
  font-size: 3em;
  font-weight: 700;
}

.tagline {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 100;
}

.tagline .langs {
  font-size: 1rem;
}

.socials {
  display: flex;
  gap: 8px;
}

.social {
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius-s);
  color: var(--text-color);
  font-weight: bold;
  padding: 6px;
  text-decoration: none;
  transition: all 120ms ease;
}

.social:hover {
  background: var(--text-color);
  color: var(--bg);
}

@media only screen and (max-width: 730px) {
  main {
    flex-direction: column;
  }
}
